In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.to_csv("../data/raw/data.csv", index=False)

In [5]:
dicionario = pd.DataFrame([
    {
     "variavel": "survived",
     "descricao": "Indica se o passageiro sobreviveu ou não.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "pclass",
     "descricao": "Indica a classe do passageiro usando números inteiros.",
     "tipo": "qualitativa",
     "subtipo": "ordinal"
    },{
     "variavel": "sex",
     "descricao": "Indica o gênero do passageiro.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "age",
     "descricao": "Indica a idade do passageiro.",
     "tipo": "quantitativa",
     "subtipo": "contínua"
    },{
     "variavel": "sibsp",
     "descricao": "Indica a quantidade de irmãos e/ou conjuguês a bordo.",
     "tipo": "quantitativa",
     "subtipo": "discreta"
    },{
     "variavel": "parch",
     "descricao": "indica a quantidade de pais e/ou filhos a bordo.",
     "tipo": "quantitativa",
     "subtipo": "discreta"
    },{
     "variavel": "fare",
     "descricao": "indica o valor da tarifa paga pelo passageiro.",
     "tipo": "quantitativa",
     "subtipo": "contínua"
    },{
     "variavel": "embarked",
     "descricao": "indica o porto de embarcação do passageiro.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "class",
     "descricao": "Indica a classe do passageiro usando string.",
     "tipo": "qualitativa",
     "subtipo": "ordinal"
    },{
     "variavel": "who",
     "descricao": "Indica se é um homem, mulher ou criança.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "adult_male",
     "descricao": "Indica se o passageiro é um homem adulto.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "deck",
     "descricao": "Indica o convés  do navio.",
     "tipo": "qualitativa",
     "subtipo": "ordinal"
    },{
     "variavel": "embark_town",
     "descricao": "Indica a cidade de embarque d passageiro.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "alive",
     "descricao": "Indica se o passageiro está vivo.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    },{
     "variavel": "alone",
     "descricao": "Indica se o passageiro estava sozinho.",
     "tipo": "qualitativa",
     "subtipo": "nominal"
    }
])
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu ou não.,qualitativa,nominal
1,pclass,Indica a classe do passageiro usando números i...,qualitativa,ordinal
2,sex,Indica o gênero do passageiro.,qualitativa,nominal
3,age,Indica a idade do passageiro.,quantitativa,contínua
4,sibsp,Indica a quantidade de irmãos e/ou conjuguês a...,quantitativa,discreta
5,parch,indica a quantidade de pais e/ou filhos a bordo.,quantitativa,discreta
6,fare,indica o valor da tarifa paga pelo passageiro.,quantitativa,contínua
7,embarked,indica o porto de embarcação do passageiro.,qualitativa,nominal
8,class,Indica a classe do passageiro usando string.,qualitativa,ordinal
9,who,"Indica se é um homem, mulher ou criança.",qualitativa,nominal
10,adult_male,Indica se o passageiro é um homem adulto.,qualitativa,nominal
11,deck,Indica o convés do navio.,qualitativa,ordinal
12,embark_town,Indica a cidade de embarque d passageiro.,qualitativa,nominal
13,alive,Indica se o passageiro está vivo.,qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho.,qualitativa,nominal